<div id="wx-user-picker" class="wx-page">
    <div class="header">
    	<a href="javascript:void(0)" class="button button-left" ng-click="common.userPicker.hide()"><i class="fa fa-times"></i></a>
        <span class="title">{{common.userPicker.title}}</span>
        <a href="javascript:void(0)" class="button button-right"
           ng-show="common.userPicker.multi"
           ng-click="common.userPicker.confirm()"><i class="fa fa-check"></i></a>
    </div>
    <div class="wx-page-detal">
    	<button ng-repeat="user in common.userPicker.users"
    			class="pure-button-xsmall pure-button" style="width:21%;margin:5px 2%;padding:10px 0px;text-align:center;"
                ng-click="common.userPicker.pick(user)"
                ng-class="{'pure-button-primary': leave.record.type == '0'}">
                {{user.name}}</button>
	</div>
</div>