<div id="wx-path" class="wx-page">
    <div class="header">
        <a href="javascript:window.history.go(-1)" class="button button-left"><i class="fa fa-angle-left"></i></a>
        <span class="title">添加成长记录</span>
    </div>
    
    <div ng-show="path.record == null" class="wx-prompt">正在加载用户数据...</div>
    
    <div ng-show="path.record" class="wx-page-detail">
        <form name="saveNoticeForm" class="pure-form pure-form-stacked wex-form">
            <fieldset>
                <div class="field-with-fa">
                <label for="student">{{path.studentLabel}}：</label>
                <div ng-show="session.user.isParent()" >
                <input id="student" type="text" ng-readonly="true" ng-required="session.user.isParent()"
                       ng-model="path.record.studentName" placeholder="孩子的名字">
                </div>
                <div ng-show="session.user.isTeacher()" >
                <textarea id="student" ng-model="path.record.studentNames" ng-maxlength="100" ng-required="session.user.isTeacher()"
                    ng-readonly="true"
                    ng-click="path.pickStudent()" placeholder="请选择学生，可选择多名" rows="2"></textarea>
                </div>
                <i ng-show="session.user.isTeacher()" class="fa fa-users" ng-click="path.pickStudent()"></i>
                </div>
                <br/>
                <label>以下文字及图片仅对学生家长及本班老师可见：</label>
                <label for="content">文字记录：</label>
                <textarea id="content" ng-model="path.record.content" ng-maxlength="100" ng-required="true"
                          placeholder="请输入文字记录，字数100字以内" rows="6"></textarea>

                
            </fieldset>
        </form>
        <div class="wx-buttons">
            <button class="pure-button full"
                    ng-disabled="!saveNoticeForm.$valid"
                    ng-class="{'pure-button-primary': saveNoticeForm.$valid}" ng-click="path.saveRecord()">保存</button>
            <a href="javascript:window.history.go(-1)"><button class="pure-button full">返回</button></a>
        </div>
    </div>
    
</div>