<div id="wx-path" class="wx-page wx-photo">
    <div class="header">
        <a href="javascript:window.history.go(-1)" class="button button-left"><i class="fa fa-angle-left"></i></a>
        <span class="title">添加成长记录</span>
    </div>
    
    <div ng-show="path.record == null" class="wx-prompt">正在加载用户数据...</div>
    
    <div ng-show="path.record" class="wx-page-detail">
        <form name="savePathForm" class="pure-form pure-form-stacked wex-form">
            <fieldset>
                <label>以下文字及图片<b style="color:red">仅允许{{path.record.studentName}}的家长及老师</b>访问：</label>
                <br/>

                <div class="field-with-fa">
                <label for="student">{{path.studentLabel}}：</label>
                <div ng-show="session.user.isParent()" >
                <input id="student" type="text" ng-readonly="true" ng-required="session.user.isParent()"
                       ng-model="path.record.studentName" placeholder="孩子的名字">
                </div>
                <div ng-show="session.user.isTeacher()" >
                <textarea id="student" ng-model="path.record.studentNames" ng-maxlength="100" ng-required="session.user.isTeacher()"
                    ng-readonly="true"
                    ng-click="path.pickStudent()" placeholder="请选择学生，可选择多名，最多9名" rows="2"></textarea>
                </div>
                <i ng-show="session.user.isTeacher()" class="fa fa-users" ng-click="path.pickStudent()"></i>
                </div>
                
                <label for="content">文字：</label>
                <textarea id="content" ng-model="path.record.content" ng-maxlength="100" ng-required="true"
                          placeholder="请输入成长文字记录，字数100字以内" rows="6"></textarea>

                <label for="imgs">图片：(可选)</label>
                <div class="photo-min-c" ng-repeat="record in path.record.photos">
                    <img class="photo-min" ng-click="common.photoPicker.remove(record)" ng-src="/upload{{record.path}}">
                </div>
                <div class="clear"></div>
                <div class="field-with-fa">
                    <button type="button" class="pure-button pure-button-primary" ng-click="path.pickPhotos()">选择图片</button>
                </div>
                
            </fieldset>
        </form>
        <div class="wx-buttons">
            <button class="pure-button full" type="button"
                    ng-disabled="!savePathForm.$valid"
                    ng-class="{'pure-button-primary': savePathForm.$valid}" ng-click="path.saveRecord()">保存</button>
            <a href="javascript:window.history.go(-1)"><button type="button" class="pure-button full">返回</button></a>
        </div>
    </div>
    
</div>