html, body { height: 100%; min-width: 300px;}
a { text-decoration: none; color: #006699; font-weight: bold !important; font-size: 1em;}
.clear { clear: both; }

.pure-button-error { background: rgb(202, 60, 60); color: #fff; }
.pure-button-xsmall { font-size: 70%; }
.pure-table-horizontal { border-top: none;}
.fa-3 { font-size: 3em; }

#loading { width: 100%; padding: auto; padding-top: 8%; text-align: center; height: 100%; z-index: 101; background-color: #fff; position: fixed;}

.wx-page { padding-top: 48px;}
.wx-page-detail { padding-left: 30px; padding: 10px;}
.wx-prompt { width: 100%; padding-top: 10%; text-align: center;}

.header{z-index: 100; position:fixed;top:0;width:100%;height:48px;background-color:#000;background-image:linear-gradient(tobottom,#1eb0e90,#109adc100%);-webkit-box-orient:horizontal;box-orient:horizontal}
.header .title{top:0;left:0;display:block;width:100%;font-size:18px;font-weight:700;line-height:48px;color:#fff;text-align:center;text-shadow:0 -1px rgba(0,0,0,.5);white-space:nowrap}
.header .button{position:absolute;z-index:10;font-size:24px;line-height:36px;color:#fff;top:7px}
.header .button-left { left: 12px; }
.header .button-right { right: 12px; }

.wx-nav-container { padding-top: 10px; padding-left: 5px;}
.wx-nav-container a { width:29%;height:92px;display:inline-block;background:#F3F3F3;text-align:center;position:relative;margin:1% 1%;border-radius: 5px; border: 1px solid #eee;}
.wx-nav-container a .icon { margin-top: .6em; margin-bottom: .25em; font-size: 32px; color: #888;}
.wx-nav-container a .label { clear: both; }
.wx-nav-container a .badge { display:none; border-radius: 5px; position: absolute; right: 3px; top: 3px; background-color: #2d89ef; padding: 2px; color: #fff; font-size: 0.8em;}

.pure-table { width: 100%; }
.pure-table td { padding: 5px 5px; }
#wx-leave .pure-table td { padding: 10px 10px;}
.pure-table img.profile { width: 48px; height: 48px; /*-webkit-border-radius: 25px; border-radius:25px;*/ border-radius: 5px;border: 2px solid #eee;}
.pure-table div { line-height: 1.5em; }

.wx-message-content { position: relative;}
.wx-message-content .strong { color: #006699; }
.wx-message-content img.photo { width: 90%; margin: 1px; }
.wx-message-content .photo3_c { width: 70px; height: 70px; float: left; position: relative;}
.wx-message-content img.photo3 { width: 100%; clip: rect(0px 70px 70px 0px); position:absolute;}
.wx-message-content .time { color: #ccc; }
.wx-message-content div.reply { background-color: #eee; padding: 8px; margin: 6px; border-radius: 5px;}
.wx-message-content textarea { width: 100%; }
.wx-message-content .onright { float: right; margin-left: 10px;}

.wex-form input, .wex-form label { width: 100%; margin: 10px 0px; display: inline-block !important; }
.wex-form textarea { width: 100%; display: inline-block; }
.wex-form input.date { margin-left: 5px; display: inline-block;}
.field-with-fa { position: relative; }
.field-with-fa i { position: absolute; bottom: 8px; right: 10px;}
.wx-buttons .full { width: 100%; margin: auto; margin-top: 10px; padding: 10px;}

.wx-help p { margin: 10px; line-height: 1.5em; text-indent: 2em; }
.wx-help img { width: 90%; position: relative; left: -1em;}

.wx-picker { width: 100%; position: absolute; top: 0px; left: 0px; background-color: #fff; z-index: 300; display: none;}
.wx-picker .overlay { width: 100%; height: 100%; position: absolute; z-index: 200; background-color: #fff;}
#wx-date-picker input { height:2em; line-height:2em; width: 4em; text-align: center;}

.wx-tab { background-color: #ccc; }
.wx-tab td { padding: 10px; }
.wx-tab td a { color: #999; width: 100%; display: inline-block;}
.wx-tab td.selected { background-color: #fff; }
.wx-tab td.selected a { color: #000; }











