a { text-decoration: none; }

.header{position:relative;top:0;display:box;width:100%;height:48px;background-color:#1eb0e9;background-image:linear-gradient(tobottom,#1eb0e90,#109adc100%);border-bottom:1px solid #1eb0e9;-webkit-box-orient:horizontal;box-orient:horizontal}
.header .title{position:absolute;top:0;left:0;display:block;width:100%;font-size:18px;font-weight:700;line-height:48px;color:#fff;text-align:center;text-shadow:0 -1px rgba(0,0,0,.5);white-space:nowrap}
.header .button{position:absolute;z-index:10;font-size:24px;line-height:36px;color:#fff;top:7px}
.header .button-left { left: 12px; }
.header .button-right { right: 12px; }

.pure-table { width: 100%; }
.pure-table td { padding: 6px 6px; }
.pure-table img.profile { width: 48px; height: 48px; border: 1px solid #ccc;}
.pure-table div { padding: 0px 3px 6px 0px; }

.wx-message-content { position: relative; }
.wx-message-content .time { color: #ccc; }
.wx-message-content a.reply { float: right;}
.wx-message-content div.reply { background-color: #eee; padding: 8px; margin: 6px; border-radius: 5px;}












