<div id="wx-nav" class="wx-page">
    <div class="header">
        <a href="#main" class="button button-left"><i class="fa fa-th"></i></a>
        <span class="title">{{message.title}}</span>
        <a ng-show="session.user.isParent()" ng-href="#/parent/{{session.user.id}}/message/new" class="button button-right">
            <i class="fa fa-plus"></i>
        </a>
    </div>
    <div ng-show="message.records == null" class="wx-prompt">正在加载数据...</div>
    <div ng-show="message.records.length == 0" class="wx-prompt">暂无留言</div>

    <table ng-show="message.records && message.records.length > 0" class="pure-table pure-table-horizontal">
        <tbody>
            <tr ng-repeat="record in message.records">
                <!--td width="48px" valign="top"><img class="profile" src="images/profile.jpg"></td-->
                <td class="wx-message-content" valign="top">
                    <div ng-show="session.user.isParent()">
                        <a href="javascript:void(0)"><strong>{{record.creator}}</strong></a>
                    </div>
                    <div ng-show="session.user.isTeacher()">
                        <a href="javascript:void(0)"><strong>{{record.studentName}}</strong></a>
                    </div>
                    <div>{{record.content}}</div>
                    <div>
                        <span class="time">
                            <b ng-show="session.user.isTeacher()">{{record.creator}}</b> {{record.updatedTime.substring(5, 16)}}
                        </span>
                        <a ng-click="message.remove(record)" ng-show="session.user.isParent()" href="javascript:void(0)" class="onright">
                            <i class="fa fa-times"></i>删除
                        </a>
                        <a href="javascript:void(0)" class="onright"
                           ng-click="record.replying = true"
                           ng-show="session.user.isTeacher() && record.replies.length == 0 && !record.replying">
                           <i class="fa fa-flickr"></i>回复
                        </a>
                    </div>
                    <div class="reply" ng-show="record.replying">
                        <div>
                            <textarea placeholder="请输入回复，100字以内" rows="10" ng-model="record.draftReply"></textarea>
                        </div>
                        <div style="padding-top: 10px;">
                            <button class="pure-button pure-button-primary pure-button-xsmall" ng-click="message.reply(record)">回复</button>
                            <button class="pure-button pure-button-active pure-button-xsmall" ng-click="record.replying = false">取消</button>
                        </div>
                    </div>
                    <div ng-repeat="reply in record.replies" class="reply">
                        <div>
                            <a href="javascript:void(0)"><strong>{{reply.creator}}回复：</strong></a>
                            <span>{{reply.content}}</span>
                        </div>
                        <div>
                            <span class="time">{{reply.createdTime.substring(5, 16)}}&nbsp;</span>
                            <a ng-show="session.user.id == reply.createdBy" ng-click="message.removeReply(record, reply)"
                               href="javascript:void(0)" class="onright"><i class="fa fa-times"></i>删除</a>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!--table class="pure-table pure-table-horizontal">
        <tbody>
            <tr>
                <td width="48px" valign="top"><img class="profile" src="images/profile.jpg"></td>
                <td class="wx-message-content" valign="top">
                    <div><a href="javascript:void(0)"><strong>小明的爸爸：</strong></a></div>
                    <div>故事剧团都有什么招收条件啊？苏泽宇特别喜欢角色扮演的故事，天天在家当小导演呢。</div>
                    <div>
                        <span class="time">3分钟前<span>
                        <a href="javascript:void(0)"><i class="fa fa-flickr"></i>回复</a>
                        <a href="javascript:void(0)"><i class="fa fa-times"></i>删除</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="48px" valign="top"><img class="profile" src="images/profile.jpg"></td>
                <td class="wx-message-content" valign="top">
                    <div><a href="javascript:void(0)"><strong>小明的爸爸：</strong></a></div>
                    <div>故事剧团都有什么招收条件啊？苏泽宇特别喜欢角色扮演的故事，天天在家当小导演呢。</div>
                    <div>
                        <span class="time">3分钟前<span>
                    </div>
                    <div class="reply">
                        <div>
                            <textarea placeholder="请输入回复" rows="5"></textarea>
                        </div>
                        <div>
                            <button class="pure-button pure-button-primary pure-button-xsmall">回复</button>
                            <button class="pure-button pure-button-active pure-button-xsmall">取消</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="48px" valign="top"><img class="profile" src="images/profile.jpg"></td>
                <td class="wx-message-content" valign="top">
                    <div><a href="javascript:void(0)"><strong>小明的爸爸：</strong></a></div>
                    <div>故事剧团都有什么招收条件啊？苏泽宇特别喜欢角色扮演的故事，天天在家当小导演呢。</div>
                    <div>
                        <span class="time">3分钟前<span>
                        <a href="javascript:void(0)"><i class="fa fa-times"></i>删除</a>
                    </div>
                    <div class="reply">
                        <div>
                        <a href="javascript:void(0)"><strong>蔷薇老师回复：</strong></a>
                        <span>会唱歌，不怯场，家长有兴趣可和我报名。</span>
                        </div>
                        <div>
                        <span class="time">3分钟前<span>
                        <a href="javascript:void(0)"><i class="fa fa-times"></i>删除</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table-->
</div>