<div id="wx-leave" class="wx-page">
    <div class="header">
        <a ng-show="leave.returnType == 'home'" href="#main" class="button button-left"><i class="fa fa-th"></i></a>
        <a ng-show="leave.returnType == 'class'" href="javascript:window.history.go(-1)" class="button button-left">
            <i class="fa fa-angle-left"></i>
        </a>
        <span class="title">
            <a href="javascript:void(0)" ng-click="leave.selectClass()">
                {{leave.title}}请假考勤
                <i ng-show="session.user.isAdministrator()" class="fa fa-angle-double-down"></i>
            </a>
        </span>
        <a href="#/leave/new" class="button button-right"><i class="fa fa-plus"></i></a>
    </div>

    <div wx-class-picker></div>

    <div ng-show="leave.records == null" class="wx-prompt">正在加载数据...</div>
    <div ng-show="leave.records && leave.records.length == 0" class="wx-prompt">没有请假记录。</div>
    
    <table ng-show="leave.records && leave.records.length > 0" class="pure-table pure-table-horizontal">
        <tbody>
            <tr ng-repeat="record in leave.records">
                <!--td width="48px" valign="top">
                    <a ng-href="#/student/{{record.studentId}}/leave"><img class="profile" src="images/profile.jpg"></a>
                </td-->
                <td class="wx-message-content" valign="top">
                    <div ng-show="session.user.isTeacher()">
                        <a ng-href="#/student/{{record.studentId}}/leave"><strong>{{record.studentName}}</strong></a>
                    </div>
                    <div>
                        <span class="strong">{{record.startDate.substring(5)}}</span>
                        <span ng-show="record.days > 0">至</span>
                        <span ng-show="record.days > 0" class="strong">{{record.endDate.substring(5)}}</span>
                        <span>请</span>
                        <span class="strong" style="width:1em;text-align:center;display:inline-block;">{{record.days}}</span>
                        <span>天</span>
                        <span ng-bind="record.type == '1' ? '事假': '病假'"></span>
                    </div>
                    <div>
                        <span>说明：</span>
                        <span class="strong">{{record.reason}}</span>
                    </div>
                    <div class="clear">
                        <span class="time">{{record.creator}} {{record.createdTime.substring(5, 16)}}</span>
                        <a ng-href="#/leave/{{record.id}}" class="onright"><i class="fa fa-pencil"></i>修改</a>
                        <a href="javascript:void(0)" ng-click="leave.remove(record)" class="onright"><i class="fa fa-times"></i>删除</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</div>