<div id="wx-photo" class="wx-page">
    <div class="header">
        <a href="javascript:window.history.go(-1)" class="button button-left"><i class="fa fa-angle-left"></i></a>
        <span class="title">{{leave.title}}</span>
    </div>
    
    <div ng-show="leave.record == null" class="wx-prompt">正在加载数据...</div>
    
    <div ng-show="leave.record" class="wx-page-detail">
        <form name="saveLeaveForm" class="pure-form pure-form-stacked wex-form">
            <fieldset>
                <legend>请假信息</legend>

                <div class="field-with-fa">
                <label for="student">{{leave.studentLabel}}：</label>
                <input id="student" type="text" ng-readonly="true" ng-required="true"
                       ng-click="leave.pickStudent()"
                       ng-model="leave.record.studentName" placeholder="请选择学生">
                <i ng-show="$scope.session.user.isTeacher()" class="fa fa-users" ng-click="leave.pickStudent()" ng-show="!leave.record.id"></i>
                </div>
                
                <label for="type">请假类型：</label>
                <div>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.record.type = '1'"
                        ng-class="{'pure-button-primary': leave.record.type == '1'}">
                        事假</button>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.record.type = '0'"
                        ng-class="{'pure-button-primary': leave.record.type == '0'}">
                        病假</button>
                </div>

                <div class="field-with-fa">
                <label for="start_date">开始日期：</label>
                <input id="start_date" type="text" ng-readonly="true" ng-required="true"
                       ng-click="leave.pickDate()"
                       value="{{leave.record.startDate}}" placeholder="请选择开始日期">
                <i class="fa fa-calendar" ng-click="leave.pickDate()"></i>
                </div>

                <label for="type">请假天数：</label>
                <div ng-show="leave.dayType != 'self'">
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.record.days = 1"
                        ng-class="{'pure-button-primary': leave.record.days == 1}">
                        1</button>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.record.days = 2"
                        ng-class="{'pure-button-primary': leave.record.days == 2}">
                        2</button>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.record.days = 3"
                        ng-class="{'pure-button-primary': leave.record.days == 3}">
                        3</button>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.record.days = 4"
                        ng-class="{'pure-button-primary': leave.record.days == 4}">
                        4</button>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.record.days = 5"
                        ng-class="{'pure-button-primary': leave.record.days == 5}">
                        5</button>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.dayType = 'self'">
                        ..</button>
                </div>
                
                <div ng-show="leave.dayType == 'self'">
                <input type="text" ng-model="leave.record.days" style="width:7em;"
                       ng-required="true" ng-pattern="/^(\d{1}|1\d{1}|2\d{1}|3[01]{1})$/" placeholder="请输入">
                <span>1-31之间的数字</span>
                <button class="pure-button-xsmall pure-button"
                        ng-click="leave.dayType = ''">
                        取消</button>
                </div>

                <label for="reason">请假理由：</label>
                <textarea id="reason" ng-model="leave.record.reason" ng-required="true"
                          placeholder="请输入请假理由" rows="4"></textarea>
            </fieldset>
        </form>
        <div class="wx-buttons">
            <button class="pure-button full"
                    ng-disabled="!saveLeaveForm.$valid"
                    ng-class="{'pure-button-primary': saveLeaveForm.$valid}" ng-click="leave.saveRecord()">保存</button>
            <a href="javascript:window.history.go(-1)"><button class="pure-button full">返回</button></a>
        </div>
    </div>
    
</div>