<div id="wx-photo" class="wx-page">
    <div class="header">
        <a href="javascript:window.history.go(-1)" class="button button-left"><i class="fa fa-angle-left"></i></a>
        <span class="title">添加{{student.name}}家长</span>
    </div>
    
    <div class="wx-page-detail" ng-show="student.record">
        <form name="createParentForm" class="pure-form pure-form-stacked wex-form">
            <fieldset>
                <legend>家长信息</legend>

                <label for="name">家长姓名：</label>
                <input id="name" type="text" ng-required="true"
                       ng-model="student.record.name" placeholder="请输入家长姓名">

                <label for="mobile">家长手机：</label>
                <input id="mobile" type="text" ng-required="true" ng-pattern="/^1\d{10}$/"
                       ng-model="student.record.mobile" placeholder="请输入家长手机">

            </fieldset>
        </form>
        <div class="wx-buttons">
            <button class="pure-button full" type="button"
                    ng-disabled="!createParentForm.$valid"
                    ng-class="{'pure-button-primary': createParentForm.$valid}" ng-click="student.saveRecord()">保存</button>
            <a href="javascript:window.history.go(-1)"><button class="pure-button full">返回</button></a>
        </div>
    </div>
    
</div>