<div id="wx-myphoto" class="wx-page wx-photo">
    <div class="header">
        <a href="#main" class="button button-left"><i class="fa fa-th"></i></a>
        <span class="title">
            <a href="javascript:void(0)" ng-click="photo.selectClass()">
	            我的图库
            </a>
        </span>
        <!--a href="javascript:void(0)" class="button button-right"><i class="fa fa-plus"></i></a->
    </div>

    <div ng-show="photo.records == null" class="wx-prompt">正在加载数据...</div>
    <div ng-show="photo.records && photo.records.length == 0" class="wx-prompt">没有图片记录，请在微信对话框中上传图片。</div>
    
    <div class="wx-page-detail">
        <div class="photo-c" ng-repeat="record in photo.records">
            <a href="javascript:void(0)"><img class="photo" ng-src="/upload{{record.path}}"></a>
        </div>
        <div class="clear"></div>
    </div>

</div>